/*
Stylesheet for Priority Matrix Calendar
*/

.fc-v-event .fc-content {
    display: flex;
}

.fc-v-event:not(.fc-short) .fc-title {
    display: none;
}

.fc-short .fc-content{
    display: flex;
}

.fc-short .fc-content .fc-title{
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc-short .fc-title-long{
    display: none;
}

.fc-title-long{
    margin: 0 0 3px 3px;
    font-weight: bold;
}
.fc-title{
    font-weight: bold;
}
.fc-time{
    font-weight: bold;
}
img.fc-icon{
    min-width: 14px;
    height: 14px;
    width: 14px;
    float: left;
    background-color: white;
    margin-top: 1px;
}
.fc-avatar{
    min-width: 14px;
    height: 14px;
    width: 14px;
    float: left;
    margin-top: 1px;
}
.completed span.fc-title{
    text-decoration:line-through;
}